figure {
    display: inline-block;
    width: 380px;
    height: 630px;
    margin: 5px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    align-content: center;

    font-family: sans-serif;
    background-color: #282828;
    vertical-align: top;
}

img {
    background-color: #D9B08C;
    margin: 5px 0;
    padding: 5px;
    width: 100%;
    height: 500px;
    box-sizing: border-box;
}

figure > h1 {
    margin: 0;
    text-align: center;
}

figcaption {
    text-align: center;
}
