body {
    background-color: #292929;
    color: white;
}
code {

    background-color: #ece9e9;
    color: rgb(255, 10, 92);

}

img.blurred {
    filter:blur(5px);
}

img.brighter {
    filter:brightness(150%);
}

img.contrast {
    filter:contrast(150%)
}

img.invert {
    filter:invert(100%)
}

img.opacity {
    filter:opacity(30%);
}

img.saturate {
    filter:saturate(8);
}

figure {
    display: inline-block;
    width: 300px;
    height: 300px;
    margin: 5px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;

    font-family: sans-serif;
    background-color: black;
    vertical-align: top;
}

figure > img {
    background-color: white;
    margin: 5px 0;
    padding: 5px;
    width: 100%;
    height: 200px;
    box-sizing: border-box;
}

/* Add a pinkish background color to the top navigation */
.topnav {
    background-color: #116466;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #D9B08C;
    color: white;
  }
