  body {
      background-color: #41B3A3;
  }

  pre {
    background-color: #D0D0D0;
    color: rgb(6, 6, 100);
    font-weight: bold;
    border-style: double;
    border-width: 5px;
    border-radius: 7px;
    border-color: black;
}