.footer {
  background-color: #116466;
  font-size: large;
  flex-basis: 60px;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

@media screen and (max-width: 995px) {
  .footer {
    height: 30vh;
  }
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #282828;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #116466;
    color: white;
  }

  body {
    color: aliceblue;
    background-color: black;
    background-image: url("galaxy1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: serif;
  }

  h1 {
    -moz-animation-duration: 3s;
    -webkit-animation-duration: 3s;
    -moz-animation-name: slidein-left;
    -webkit-animation-name: slidein-left;
  }
  
  @-moz-keyframes slidein-left {
    from {
      margin-left: 100%;
      width: 300%
    }
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  
  @-webkit-keyframes slidein-left {
    from {
      margin-left: 100%;
      width: 300%
    }
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

  h1 {
    text-align: center;
  }