.name_section {
    background-color: #116466;
  }

  .address_section {
    background-color: #116466;
  }
  
  .email_phone_section {
    background-color: #116466;
  }

  .create_account_section {
    background-color: #116466;
  }